In [23]:
# Necessary Imports
import pandas as pd

## Data preparation

### Load the Datasets

In [2]:
# Load the dataset Fabrik 1
fabrik_1 = pd.read_excel('C:\\Users\\User\\Desktop\\Data Analyst\\Aufgaben\\Visualisirung_Project\\project\\Project_3_Electro\\Praxisaufgabe - Fabriken.xlsx', sheet_name='Fabrik 1')
fabrik_1

,Unnamed: 0,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead
0,NaN,2021-09-18,10,27,675,297,378
1,NaN,2020-05-01,3,649,14927,649,2596
2,NaN,2021-11-15,1,230,5290,230,1150
3,NaN,2021-08-04,7,882,17640,882,6174
4,NaN,2021-01-08,6,205,3485,410,1025
...,...,...,...,...,...,...,...
1087,NaN,2022-06-12,1,116,1740,232,464
1088,NaN,2022-11-20,6,326,5216,652,978
1089,NaN,2020-12-24,7,797,14346,797,3985
1090,NaN,2022-12-09,8,46,1518,874,460
1091,NaN,2022-12-03,9,10,390,130,100

In [3]:
# Delete the column 'Unnamed'
fabrik_1.drop(columns='Unnamed: 0', inplace=True)
fabrik_1

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead
0,2021-09-18,10,27,675,297,378
1,2020-05-01,3,649,14927,649,2596
2,2021-11-15,1,230,5290,230,1150
3,2021-08-04,7,882,17640,882,6174
4,2021-01-08,6,205,3485,410,1025
...,...,...,...,...,...,...
1087,2022-06-12,1,116,1740,232,464
1088,2022-11-20,6,326,5216,652,978
1089,2020-12-24,7,797,14346,797,3985
1090,2022-12-09,8,46,1518,874,460
1091,2022-12-03,9,10,390,130,100

In [4]:
# Load the dataset Fabrik 2
fabrik_2 = pd.read_excel('C:\\Users\\User\\Desktop\\Data Analyst\\Aufgaben\\Visualisirung_Project\\project\\Project_3_Electro\\Praxisaufgabe - Fabriken.xlsx', sheet_name='Fabrik 2')
fabrik_2

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Energiekosten
0,2021-02-01,7,697,11152,1394,6273
1,2021-05-03,8,62,1116,744,682
2,2020-08-22,3,169,2535,169,1521
3,2022-07-27,4,465,8370,465,3720
4,2022-08-02,10,79,1185,1343,790
...,...,...,...,...,...,...
1437,2021-08-08,5,706,7060,1412,2824
1438,2022-08-14,7,163,2934,163,1304
1439,2022-10-03,6,636,10812,636,4452
1440,2022-11-11,5,625,8125,1250,3750
1441,2022-09-30,8,45,675,1035,495

In [5]:
# Load dataset Products Types
products_infos = pd.read_excel('C:\\Users\\User\\Desktop\\Data Analyst\\Aufgaben\\Visualisirung_Project\\project\\Project_3_Electro\\Praxisaufgabe - Zielgewinnspanne.xlsx')
products_infos

   Produkttyp                      Produkttyp Name  Zielgewinnspanne
0           1          Wi-Fi Smelly Socks Detector              0.69
1           2               Bluetooth Banana Phone              0.41
2           3    Virtual Reality Nose Hair Trimmer              0.51
3           4                 Robotic Pizza Butler              0.46
4           5                       Selfie Toaster              0.41
5           6  Electric Toothbrush Karaoke Machine              0.07
6           7             Solar-Powered Rain Cloud              0.88
7           8              Quantum Potato Computer              0.91
8           9                            BananaBox              0.69
9          10                        CheeseStation              0.97

## Information about the columns and the data frames

In [6]:
# Data frame infos
print(fabrik_1.info())
print(fabrik_2.info())
products_infos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Produktionsdatum       1092 non-null   datetime64[ns]
 1   Produkttyp             1092 non-null   int64
 2   Produzierte Einheiten  1092 non-null   int64
 3   Arbeitskosten          1092 non-null   int64
 4   Materialkosten         1092 non-null   int64
 5   Overhead               1092 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 51.3 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Produktionsdatum       1442 non-null   datetime64[ns]
 1   Produkttyp             1442 non-null   int64
 2   Produzierte Einheiten  1442 non-null   int64
 3   Arbeitskosten          1442 non-null   int64
 4   Materialkosten         1442 non-null   int64
 5   Energiekosten          1442 non-null   int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 67.7 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Produkttyp        10 non-null     int64
 1   Produkttyp Name   10 non-null     object
 2   Zielgewinnspanne  10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 372.0+ bytes

In [7]:
# Columns of the data frames
print(fabrik_1.columns)
print(fabrik_2.columns)
print(products_infos.columns)

Index(['Produktionsdatum', 'Produkttyp', 'Produzierte Einheiten',
       'Arbeitskosten', 'Materialkosten', 'Overhead'],
      dtype='object')
Index(['Produktionsdatum', 'Produkttyp', 'Produzierte Einheiten',
       'Arbeitskosten', 'Materialkosten', 'Energiekosten'],
      dtype='object')
Index(['Produkttyp', 'Produkttyp Name', 'Zielgewinnspanne'], dtype='object')

## Missing Values

In [8]:
print(fabrik_1.isna().sum())
print(fabrik_2.isna().sum())
print(products_infos.isna().sum())

# There are No Missing Values

Produktionsdatum         0
Produkttyp               0
Produzierte Einheiten    0
Arbeitskosten            0
Materialkosten           0
Overhead                 0
dtype: int64
Produktionsdatum         0
Produkttyp               0
Produzierte Einheiten    0
Arbeitskosten            0
Materialkosten           0
Energiekosten            0
dtype: int64
Produkttyp          0
Produkttyp Name     0
Zielgewinnspanne    0
dtype: int64

In [9]:
print('---------Fabrik 1 Dates----------')
print('First Date:', fabrik_1['Produktionsdatum'].min())
print('Last Date :', fabrik_1['Produktionsdatum'].max())
print('')
print('---------Fabrik 2 Dates----------')
print('First Date:', fabrik_2['Produktionsdatum'].min())
print('Last Date :', fabrik_2['Produktionsdatum'].max())

---------Fabrik 1 Dates----------
First Date: 2020-01-01 00:00:00
Last Date : 2022-12-31 00:00:00

---------Fabrik 2 Dates----------
First Date: 2020-01-01 00:00:00
Last Date : 2022-12-31 00:00:00

## Combine the Data Frames

In [10]:
# Merge fabrik_1 and fabrik_2 with products_infos based on 'Produkttyp'

fabrik_1_merged = pd.merge(fabrik_1, products_infos, on='Produkttyp', how='left')
fabrik_2_merged = pd.merge(fabrik_2, products_infos, on='Produkttyp', how='left')

In [11]:
fabrik_1_merged

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Produkttyp Name,Zielgewinnspanne
0,2021-09-18,10,27,675,297,378,CheeseStation,0.97
1,2020-05-01,3,649,14927,649,2596,Virtual Reality Nose Hair Trimmer,0.51
2,2021-11-15,1,230,5290,230,1150,Wi-Fi Smelly Socks Detector,0.69
3,2021-08-04,7,882,17640,882,6174,Solar-Powered Rain Cloud,0.88
4,2021-01-08,6,205,3485,410,1025,Electric Toothbrush Karaoke Machine,0.07
...,...,...,...,...,...,...,...,...
1087,2022-06-12,1,116,1740,232,464,Wi-Fi Smelly Socks Detector,0.69
1088,2022-11-20,6,326,5216,652,978,Electric Toothbrush Karaoke Machine,0.07
1089,2020-12-24,7,797,14346,797,3985,Solar-Powered Rain Cloud,0.88
1090,2022-12-09,8,46,1518,874,460,Quantum Potato Computer,0.91
1091,2022-12-03,9,10,390,130,100,BananaBox,0.69

In [13]:
fabrik_2_merged

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Energiekosten,Produkttyp Name,Zielgewinnspanne
0,2021-02-01,7,697,11152,1394,6273,Solar-Powered Rain Cloud,0.88
1,2021-05-03,8,62,1116,744,682,Quantum Potato Computer,0.91
2,2020-08-22,3,169,2535,169,1521,Virtual Reality Nose Hair Trimmer,0.51
3,2022-07-27,4,465,8370,465,3720,Robotic Pizza Butler,0.46
4,2022-08-02,10,79,1185,1343,790,CheeseStation,0.97
...,...,...,...,...,...,...,...,...
1437,2021-08-08,5,706,7060,1412,2824,Selfie Toaster,0.41
1438,2022-08-14,7,163,2934,163,1304,Solar-Powered Rain Cloud,0.88
1439,2022-10-03,6,636,10812,636,4452,Electric Toothbrush Karaoke Machine,0.07
1440,2022-11-11,5,625,8125,1250,3750,Selfie Toaster,0.41
1441,2022-09-30,8,45,675,1035,495,Quantum Potato Computer,0.91

In [14]:
# Combine the merged data frames from both factories

combined_data = pd.concat([fabrik_1_merged, fabrik_2_merged], ignore_index=True)
combined_data

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Produkttyp Name,Zielgewinnspanne,Energiekosten
0,2021-09-18,10,27,675,297,378.0,CheeseStation,0.97,NaN
1,2020-05-01,3,649,14927,649,2596.0,Virtual Reality Nose Hair Trimmer,0.51,NaN
2,2021-11-15,1,230,5290,230,1150.0,Wi-Fi Smelly Socks Detector,0.69,NaN
3,2021-08-04,7,882,17640,882,6174.0,Solar-Powered Rain Cloud,0.88,NaN
4,2021-01-08,6,205,3485,410,1025.0,Electric Toothbrush Karaoke Machine,0.07,NaN
...,...,...,...,...,...,...,...,...,...
2529,2021-08-08,5,706,7060,1412,NaN,Selfie Toaster,0.41,2824.0
2530,2022-08-14,7,163,2934,163,NaN,Solar-Powered Rain Cloud,0.88,1304.0
2531,2022-10-03,6,636,10812,636,NaN,Electric Toothbrush Karaoke Machine,0.07,4452.0
2532,2022-11-11,5,625,8125,1250,NaN,Selfie Toaster,0.41,3750.0
2533,2022-09-30,8,45,675,1035,NaN,Quantum Potato Computer,0.91,495.0

In [15]:
# Extract Month and Year from Datum

combined_data['Month'] = combined_data['Produktionsdatum'].dt.month
combined_data['Year'] = combined_data['Produktionsdatum'].dt.year
combined_data

,Produktionsdatum,Produkttyp,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Produkttyp Name,Zielgewinnspanne,Energiekosten,Month,Year
0,2021-09-18,10,27,675,297,378.0,CheeseStation,0.97,NaN,9,2021
1,2020-05-01,3,649,14927,649,2596.0,Virtual Reality Nose Hair Trimmer,0.51,NaN,5,2020
2,2021-11-15,1,230,5290,230,1150.0,Wi-Fi Smelly Socks Detector,0.69,NaN,11,2021
3,2021-08-04,7,882,17640,882,6174.0,Solar-Powered Rain Cloud,0.88,NaN,8,2021
4,2021-01-08,6,205,3485,410,1025.0,Electric Toothbrush Karaoke Machine,0.07,NaN,1,2021
...,...,...,...,...,...,...,...,...,...,...,...
2529,2021-08-08,5,706,7060,1412,NaN,Selfie Toaster,0.41,2824.0,8,2021
2530,2022-08-14,7,163,2934,163,NaN,Solar-Powered Rain Cloud,0.88,1304.0,8,2022
2531,2022-10-03,6,636,10812,636,NaN,Electric Toothbrush Karaoke Machine,0.07,4452.0,10,2022
2532,2022-11-11,5,625,8125,1250,NaN,Selfie Toaster,0.41,3750.0,11,2022
2533,2022-09-30,8,45,675,1035,NaN,Quantum Potato Computer,0.91,495.0,9,2022

In [16]:
# Summarize the data by product type, year, and month

summarized_data = combined_data.groupby(['Produkttyp', 'Year', 'Month']).agg({
    'Produkttyp Name': 'first',
    'Produzierte Einheiten': 'sum',
    'Arbeitskosten': 'sum',
    'Materialkosten': 'sum',
    'Overhead': 'sum',
    'Energiekosten': 'sum', 
    'Zielgewinnspanne': 'first',
      
}).reset_index()

summarized_data

,Produkttyp,Year,Month,Produkttyp Name,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Energiekosten,Zielgewinnspanne
0,1,2020,1,Wi-Fi Smelly Socks Detector,3234,53859,4745,6421.0,12913.0,0.69
1,1,2020,2,Wi-Fi Smelly Socks Detector,2360,40100,3689,3954.0,10156.0,0.69
2,1,2020,3,Wi-Fi Smelly Socks Detector,7168,129729,8898,25794.0,10738.0,0.69
3,1,2020,4,Wi-Fi Smelly Socks Detector,5420,108424,6906,18838.0,7840.0,0.69
4,1,2020,5,Wi-Fi Smelly Socks Detector,2019,27118,2641,424.0,16035.0,0.69
...,...,...,...,...,...,...,...,...,...,...
355,10,2022,8,CheeseStation,327,5916,4913,689.0,2939.0,0.97
356,10,2022,9,CheeseStation,154,3432,2508,1001.0,979.0,0.97
357,10,2022,10,CheeseStation,251,6906,3455,2722.0,0.0,0.97
358,10,2022,11,CheeseStation,376,10086,5551,2413.0,2451.0,0.97
359,10,2022,12,CheeseStation,328,7281,4978,1504.0,2656.0,0.97

In [17]:
# Merge with products_infos:
df = pd.merge(summarized_data, products_infos, on='Produkttyp', how='left')
df

,Produkttyp,Year,Month,Produkttyp Name_x,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Energiekosten,Zielgewinnspanne_x,Produkttyp Name_y,Zielgewinnspanne_y
0,1,2020,1,Wi-Fi Smelly Socks Detector,3234,53859,4745,6421.0,12913.0,0.69,Wi-Fi Smelly Socks Detector,0.69
1,1,2020,2,Wi-Fi Smelly Socks Detector,2360,40100,3689,3954.0,10156.0,0.69,Wi-Fi Smelly Socks Detector,0.69
2,1,2020,3,Wi-Fi Smelly Socks Detector,7168,129729,8898,25794.0,10738.0,0.69,Wi-Fi Smelly Socks Detector,0.69
3,1,2020,4,Wi-Fi Smelly Socks Detector,5420,108424,6906,18838.0,7840.0,0.69,Wi-Fi Smelly Socks Detector,0.69
4,1,2020,5,Wi-Fi Smelly Socks Detector,2019,27118,2641,424.0,16035.0,0.69,Wi-Fi Smelly Socks Detector,0.69
...,...,...,...,...,...,...,...,...,...,...,...,...
355,10,2022,8,CheeseStation,327,5916,4913,689.0,2939.0,0.97,CheeseStation,0.97
356,10,2022,9,CheeseStation,154,3432,2508,1001.0,979.0,0.97,CheeseStation,0.97
357,10,2022,10,CheeseStation,251,6906,3455,2722.0,0.0,0.97,CheeseStation,0.97
358,10,2022,11,CheeseStation,376,10086,5551,2413.0,2451.0,0.97,CheeseStation,0.97
359,10,2022,12,CheeseStation,328,7281,4978,1504.0,2656.0,0.97,CheeseStation,0.97

In [18]:
# Drop the duplicated columns 
df.drop(columns=['Produkttyp Name_y', 'Zielgewinnspanne_y'], inplace=True)
df

,Produkttyp,Year,Month,Produkttyp Name_x,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Energiekosten,Zielgewinnspanne_x
0,1,2020,1,Wi-Fi Smelly Socks Detector,3234,53859,4745,6421.0,12913.0,0.69
1,1,2020,2,Wi-Fi Smelly Socks Detector,2360,40100,3689,3954.0,10156.0,0.69
2,1,2020,3,Wi-Fi Smelly Socks Detector,7168,129729,8898,25794.0,10738.0,0.69
3,1,2020,4,Wi-Fi Smelly Socks Detector,5420,108424,6906,18838.0,7840.0,0.69
4,1,2020,5,Wi-Fi Smelly Socks Detector,2019,27118,2641,424.0,16035.0,0.69
...,...,...,...,...,...,...,...,...,...,...
355,10,2022,8,CheeseStation,327,5916,4913,689.0,2939.0,0.97
356,10,2022,9,CheeseStation,154,3432,2508,1001.0,979.0,0.97
357,10,2022,10,CheeseStation,251,6906,3455,2722.0,0.0,0.97
358,10,2022,11,CheeseStation,376,10086,5551,2413.0,2451.0,0.97
359,10,2022,12,CheeseStation,328,7281,4978,1504.0,2656.0,0.97

In [19]:
# Rename columns 'Produkttyp Name_x' and 'Zielgewinnspanne_x'
df.rename(columns={
    'Produkttyp Name_x': 'Produkttyp Name',
    'Zielgewinnspanne_x': 'Zielgewinnspanne'
}, inplace=True)

## Add additional columns

In [20]:
# Calculate the total costs for each product type per month
df['Gesamtkosten'] = df['Arbeitskosten'] + df['Materialkosten'] + df['Overhead'] + df['Energiekosten']

# Calculate the average cost per unit for each product type per month
df['Durchschnittliche Kosten pro Einheit'] = df['Gesamtkosten'] / df['Produzierte Einheiten']

# Calculate the required selling price for each product type per month
df['Erforderlicher Verkaufspreis'] = df['Durchschnittliche Kosten pro Einheit'] / (1 - df['Zielgewinnspanne'])

# Calculate the gross profit margin for each product type per month
df['Bruttogewinnspanne'] = ((df['Erforderlicher Verkaufspreis'] - df['Durchschnittliche Kosten pro Einheit']) / df['Erforderlicher Verkaufspreis'])


# Calculate the total gross profit for each product type per month
df['Gesamtbruttogewinn'] = round(df['Bruttogewinnspanne'] * (df['Erforderlicher Verkaufspreis'] * df['Produzierte Einheiten']), 2)

# Calculate the total nettogewinn for each product type per month
df['Gesamtnettogewinn'] = df['Gesamtbruttogewinn'] - df['Gesamtkosten']

In [21]:
df

,Produkttyp,Year,Month,Produkttyp Name,Produzierte Einheiten,Arbeitskosten,Materialkosten,Overhead,Energiekosten,Zielgewinnspanne,Gesamtkosten,Durchschnittliche Kosten pro Einheit,Erforderlicher Verkaufspreis,Bruttogewinnspanne,Gesamtbruttogewinn,Gesamtnettogewinn
0,1,2020,1,Wi-Fi Smelly Socks Detector,3234,53859,4745,6421.0,12913.0,0.69,77938.0,24.099567,77.740539,0.69,173474.90,95536.90
1,1,2020,2,Wi-Fi Smelly Socks Detector,2360,40100,3689,3954.0,10156.0,0.69,57899.0,24.533475,79.140241,0.69,128871.97,70972.97
2,1,2020,3,Wi-Fi Smelly Socks Detector,7168,129729,8898,25794.0,10738.0,0.69,175159.0,24.436244,78.826595,0.69,389870.03,214711.03
3,1,2020,4,Wi-Fi Smelly Socks Detector,5420,108424,6906,18838.0,7840.0,0.69,142008.0,26.200738,84.518510,0.69,316082.32,174074.32
4,1,2020,5,Wi-Fi Smelly Socks Detector,2019,27118,2641,424.0,16035.0,0.69,46218.0,22.891530,73.843647,0.69,102872.32,56654.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,10,2022,8,CheeseStation,327,5916,4913,689.0,2939.0,0.97,14457.0,44.211009,1473.700306,0.97,467443.00,452986.00
356,10,2022,9,CheeseStation,154,3432,2508,1001.0,979.0,0.97,7920.0,51.428571,1714.285714,0.97,256080.00,248160.00
357,10,2022,10,CheeseStation,251,6906,3455,2722.0,0.0,0.97,13083.0,52.123506,1737.450199,0.97,423017.00,409934.00
358,10,2022,11,CheeseStation,376,10086,5551,2413.0,2451.0,0.97,20501.0,54.523936,1817.464539,0.97,662865.67,642364.67
359,10,2022,12,CheeseStation,328,7281,4978,1504.0,2656.0,0.97,16419.0,50.057927,1668.597561,0.97,530881.00,514462.00

In [22]:
# Save the  DataFrame to Excel 
df.to_excel('summarized_project_3.xlsx', index=False)